*, :before, :after {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    color: #333;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 0;
}

h2 {
    font-size: 3rem;
    font-weight: 100;
    margin-bottom: 0;
}

h3 {
    font-size: 2.5rem;
    font-weight: 100;
    margin-bottom: 0;
}

code {
    display: block;
    padding: 1em;
    margin: 1em 0;
    background-color: #fafafa;
    border-radius: 2px;
    font: 13px/1.25 Menlo, monospace;
    white-space: nowrap;
    overflow-x: auto;
}

.meta {
    color: #888;
}

.description {
    margin: 1em 0;
    font-size: 16px;
}

.item {
    margin: 1em 0;
}
.item .title {
    font-weight: 300;
    font-size: 1.25rem;
}
a[href] {
    color: #4688F1;
    text-decoration: none;
}

.item .description {
    color: #666;
    margin: 0;
}

.breadcrumbs {
    margin: 0 0 1em 0;
    padding: 0;
    list-style: none;
    display: flex;
    font-size: 14px;
}

.breadcrumbs li {
    margin-right: 5px;
    color: #888;
}
.breadcrumbs li + li:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOCIgaGVpZ2h0PSIxOCIgdmlld0JveD0iMCAwIDE4IDE4Ij48cGF0aCBkPSJNNy41IDQuNUw2LjQ0IDUuNTYgOS44OCA5bC0zLjQ0IDMuNDRMNy41IDEzLjUgMTIgOXoiIGZpbGw9IiNjY2MiLz48L3N2Zz4=") center center;
    margin-right: 5px;
}
